.place-task {
  padding: 52px 0 30px;

  @include mobile {
    padding: 30px 0;
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    margin: 0 0 30px;

    @include laptop {
      flex-wrap: wrap;
      gap: 20px;
      margin-bottom: 20px;
    }

    &-title {
      flex: 0 1 733px;
      margin: 0;
      font-family: 'Alegreya', sans-serif;
      font-weight: 800;
      font-size: 48px;
      color: #2c98f0;

      @include laptop {
        flex: 1 1 100%;
        font-size: 36px;
      }

      @include mobile {
        font-size: 32px;
      }
    }

    &-description {
      flex: 0 1 420px;
      margin: 0;
      font-family: 'Jost', sans-serif;
      font-weight: 400;
      font-size: 20px;
      color: #282828;

      @include laptop {
        flex: 1 1 100%;
      }

      @include mobile {
        font-size: 16px;
      }
    }
  }

  &__advantages {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    @include mobile {
      gap: 8px;
    }

    &-card {
      display: flex;
      align-items: center;
      gap: 15px;
      flex: 0 0 auto;
      padding: 8px 20px;
      border-radius: 64px;
      background: linear-gradient(146deg, #2c98f0 0%, #97d0ff 100%);

      @include mobile {
        gap: 8px;
        padding: 6px 16px;
      }

      &-figure {
        display: flex;
        align-items: center;
        justify-content: center;  
        flex: 0 0 auto;
        margin: 0;  

        &-image {
          display: block;
          max-width: 100%;
          width: 34px;
          height: auto;

          @include mobile {
            width: 30px;
          }
        }
      }

      &-text {
        font-family: 'Jost', sans-serif;
        font-weight: 700;
        font-size: 18px;
        color: #fff;

        @include mobile {
          font-size: 16px;
        }
      }
    }
  }
}
