.reviews {
  padding: 125px 0 130px;

  @include laptop {
    padding: 100px 0;
  }

  @include mobile {
    padding: 64px 0;
  }

  &__title {
    max-width: 887px;
    margin: 0 0 15px;
    font-family: 'Alegreya', sans-serif;
    font-weight: 800;
    font-size: 48px;
    color: #2c98f0;

    @include laptop {
      font-size: 40px;
    }

    @include mobile {
      font-size: 32px;
    }
  }

  &__description {
    margin: 0 0 30px;
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #282828;

    @include laptop {
      font-size: 20px;
    }

    @include mobile {
      font-size: 16px;
    }
  }

  &__slider {
    & .swiper {
      overflow: visible;

      &-slide {
        box-shadow: 0 8px 19px 0 rgba(0, 0, 0, 0.1);
        background-color: #fff;
      }
    }

    &-slide {
      padding: 25px 20px;

      &-name {
        margin: 0 0 5px;
        font-family: 'Jost', sans-serif;
        font-weight: 700;
        font-size: 20px;
        color: #282828;
      }

      &-type {
        margin: 0 0 20px;
        font-family: 'Jost', sans-serif;
        font-weight: 400;
        font-size: 16px;
        color: #282828;
        opacity: 0.5;
      }

      &-text {
        margin: 0 0 20px;
        font-family: 'Jost', sans-serif;
        font-weight: 400;
        font-size: 16px;
        color: #282828;
        opacity: 0.8;
      }

      &-bottom {
        display: flex;
        justify-content: space-between;

        &::after {
          content: '';
          display: inline-block;
          width: 58px;
          aspect-ratio: 1;
          background: url(../assets/icons/quote.svg) center / cover no-repeat;
          opacity: 0.3;
          transition: opacity ease-out 0.2s;
        }
      }

      &-rating {
        display: flex;
        align-items: center;
        gap: 5px;
        flex: 0 0 auto;

        &-star {
          display: inline-block;
          flex: 0 0 auto;
          width: 17px;
          aspect-ratio: 1;
          background: url(../assets/icons/star.svg) center / cover no-repeat;
        }
      }
    }

    & .swiper-slide-active &-slide-bottom::after {
      opacity: 1;
    }

    &-controls {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 30px;
      margin: 40px 0 0;

      &-prev,
      &-next {
        display: inline-block;
        flex: 0 0 auto;
        width: 30px;
        aspect-ratio: 1 / 1;
        background: url(../assets/icons/arrow-next.svg) center / cover no-repeat;
        user-select: none;
        cursor: pointer;
      }

      &-prev {
        transform: rotate(180deg);
      }

      &-next {
        transform: rotate(0deg);
      }

      &-pagination {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        flex: 0 1 auto;
        gap: 7px;
        width: auto !important;

        & .swiper-pagination-bullet {
          display: block;
          flex: 0 0 auto;
          margin: 0 !important;
          width: 7px;
          height: 7px;
          border-radius: 90px;
          opacity: 1;
          background-color: #ededed;
          transition-property: width;
          transition-timing-function: ease-out;
          transition-duration: 0.4s;

          &-active {
            width: 35px;
            background-color: #ffb34a;
          }
        }
      }
    }
  }
}
