.button {
  display: inline-block;
  flex: 0 0 auto;
  padding: 21px 42px;
  box-sizing: border-box;
  font-family: 'Jost', sans-serif;
  font-weight: 500;
  font-size: 17px;
  line-height: 141%;
  text-align: center;
  color: #282828;
  border: none;
  border-radius: 64px;
  background-color: #ffffff;
  transition-property: color, background-color;
  transition-timing-function: ease-out;
  transition-duration: 0.2s;
  cursor: pointer;
}
